<nav>
	<div class='nav-wrapper'>
		<a href='/' class='brand-logo center-align'>Robots</a>
		<ul id='nav-mobile' class='right hide-on-med-and-down'>
			<li><a href='/views/partials/track.ejs'>Robot Tracking</a></li>
			<li><a href='/views/partials/about.ejs'>About</a></li>
		</ul>
	</div>
</nav>